* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body,
.header .container,
.header nav {
  height: 100%;
}

body {
  overflow-x: hidden;
}

body div,
body ul,
body ul li,
body p,
body header,
body main,
body footer {
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--font-family);
  font-size: var(--main-font-size);
  color: var(--main-font-color);
  font-weight: 400;
}

a {
  color: var(--main-font-color);
  font-size: var(--main-font-size);
}

button {
  font: inherit;
  border-radius: var(--main-border-radius);
  color: var(--second-font-color);
}

nav li:not(:last-child) {
  margin-right: var(--half-spacing);
}

nav li > * {
  padding: var(--half-spacing) var(--small-spacing);
}

.d-flex {
  display: flex;
}

ul {
  padding: 0;
}

ul li {
  list-style: none;
  font-size: var(--main-font-size);
}

.app {
  height: 100%;
  max-height: 100vh;
  display: grid;
  grid-template-rows: 52px auto calc(100% - 150px) auto;
}

.app [role="button"] {
  padding: 0;
  background: transparent;
  width: 20px;
  height: 20px;
  color: black;
  border: none;
  box-shadow: none;
}

.app [role="button"] svg {
  position: absolute;
}

.app details[role="list"] summary + ul {
  width: fit-content;
  box-shadow: none;
}

details[role="list"] {
  margin: 0;
}

details[role="list"].show-top {
  margin-right: 10px;
}

details[role="list"].show-top [role="listbox"] {
  bottom: 100%;
}

.mob-header .container,
.main {
  display: flex;
  justify-content: space-between;
}

.main {
  flex-direction: column;
}

.mob-header,
.header {
  border-bottom: 1px solid var(--main-border-color);
}

.mob-header .container {
  align-items: center;
}

.header-icon-list {
  display: flex;
}

.header-icon-list li {
  padding: var(--small-spacing);
}

.header-icon-list li {
  border: 1px solid var(--main-border-color);
}

.main {
  flex-grow: 2;
}

.main-body {
  flex-grow: 2;
  border: 1px solid var(--main-border-color);
  overflow-y: auto;
}
.list-link li {
  position: relative;
}

.list-link li:not(:last-child)::after {
  content: "/";
  left: calc(100% - 5px);
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
}

.list-link a {
  display: inline-block;
  padding: var(--half-spacing) var(--small-spacing);
}

body h1 {
  font-size: var(--main-title-h1);
  margin: var(--double-spacing) 0;
}

.item-list li:not(:last-child) {
  margin-right: var(--small-spacing);
}

.filter-box {
  display: flex;
  flex-wrap: wrap;
  margin: var(--double-spacing) 0;
  gap: var(--double-spacing);
}

.filter-box > div {
  gap: var(--double-spacing);
}

.filter-box .d-flex,
.filter-box .btn-box {
  width: 100%;
}

.filter-box input {
  margin: 0;
  padding: var(--small-spacing);
  height: 40px;
}

.btn-list {
  display: flex;
}

.btn-el {
  margin: 0;
  width: auto;
  padding: var(--extra-small-spacing) var(--small-spacing);
}

button.outline {
  color: var(--primary);
}

.btn-box .btn-list:nth-child(2) {
  margin-right: auto;
}

.btn-list button:not(:last-child) {
  margin-right: var(--small-spacing);
}

.btn-box {
  display: flex;
  justify-content: flex-end;
}

.filter-box input.search {
  border-radius: var(--main-border-radius);
}

.gallery {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: var(--half-spacing);
  padding: var(--half-spacing);
}

.card,
kanban-colum {
  padding: var(--small-spacing);
  border-radius: var(--main-border-radius);
  border: 1px solid var(--main-border-color);
}

.footer-btn {
  display: none;
}

.footer-info.center,
.footer-info {
  display: flex;
  justify-content: center;
  padding: 0;
}

.footer-list {
  display: flex;
}

.nav-page {
  display: none;
}

.footer-list {
  display: flex;
  align-items: center;
}

.footer-list svg {
  margin-right: var(--small-spacing);
}

.footer-list a {
  color: var(--primary);
}

nav[aria-label="breadcrumb"] ul li:not(:last-child) ::after {
  color: inherit;
}

.kanban {
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  height: 100%;
  overflow-x: auto;
  gap: var(--half-spacing);
  padding: var(--half-spacing);
}

kanban-colum {
  display: grid;
  grid-template-rows: 40px calc(100% - 80px) 40px;
  max-height: 100%;
  overflow: hidden;
}

kanban-body {
  padding: var(--half-spacing);
  border: 1px solid var(--main-border-color);
  overflow-y: auto;
  display: block;
}

kanban-content {
  display: block;
  padding: var(--small-spacing);
  border: 1px solid var(--main-border-color);
  background: #fff;
}

kanban-content:not(:last-child) {
  margin-bottom: var(--small-spacing);
}

kanban-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

kanban-footer nav {
  margin-right: var(--small-spacing);
}

kanban-header h2 {
  font-size: var(--main-title-h2);
  margin-bottom: var(--double-spacing);
}
@media (min-width: 576px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 768px) {
  .mob-header {
    display: none;
  }
  .app {
    grid-template-rows: auto calc(100% - 170px) auto;
  }
  .filter-box {
    flex-wrap: nowrap;
  }
  .filter-box .d-flex {
    width: 45%;
  }

  .filter-box .btn-box {
    width: 55%;
  }
  .btn-box .btn-list:nth-child(2) {
    margin-right: 0;
  }
  .gallery {
    grid-template-columns: repeat(4, 1fr);
  }
  .nav-page {
    display: flex;
  }
  .footer {
    padding-top: var(--half-spacing);
  }
  .footer-btn {
    display: block;
  }
  .footer-info {
    justify-content: space-between;
  }
  .icon-menu {
    display: none;
  }
}
@media (min-width: 1200px) {
}
