* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body,
.header .container-fluid,
.header nav {
  height: 100%;
}

body {
  overflow-x: hidden;
}

body div,
body ul,
body ul li,
body p,
body header,
body main,
body footer {
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--font-family);
  font-size: var(--main-font-size);
  color: var(--main-font-color);
  font-weight: 400;
}

a {
  color: var(--main-font-color);
  font-size: var(--main-font-size);
}

button {
  font: inherit;
  border-radius: var(--main-border-radius);
  color: var(--second-font-color);
}

nav li:not(:last-child) {
  margin-right: var(--half-spacing);
}

nav li > * {
  padding: var(--half-spacing) var(--small-spacing);
}

.d-flex {
  display: flex;
}

ul {
  padding: 0;
}

ul li {
  list-style: none;
  font-size: var(--main-font-size);
}

.wrapper {
  display: flex;
  overflow-x: hidden;
}

.container-fluid {
  max-width: calc(100vw - 60px);
}

.container-fluid.fluid {
  max-width: 100vw;
}

.app {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows:
    var(--mob-header-height) var(--header-height) calc(
      100% -
        (
          var(--mob-header-height) + var(--header-height) +
            var(--main-footer-height)
        )
    )
    var(--main-footer-height);
  overflow: hidden;
}

.app.max-height {
  max-height: 100vh;
}

.app.auto-height {
  grid-template-rows: auto auto auto var(--main-footer-height);
}

.app [role="button"] {
  padding: 0;
  background: transparent;
  width: 20px;
  height: 20px;
  color: black;
  border: none;
  box-shadow: none;
}

.app [role="button"] svg {
  position: absolute;
}

.app details[role="list"] summary + ul {
  width: fit-content;
  box-shadow: none;
}

details[role="list"] {
  margin: 0;
}

details[role="list"].show-top {
  margin-right: 10px;
}

details[role="list"].show-top [role="listbox"] {
  bottom: 100%;
}

.mob-header .container-fluid,
.main {
  display: flex;
  justify-content: space-between;
}

.mob-header {
  height: var(--mob-header-height);
}

.mob-header > div {
  height: 100%;
}

.header {
  height: var(--header-height);
}

.main {
  overflow: hidden;
  flex-direction: column;
}

.mob-header,
.header {
  border-bottom: 1px solid var(--main-border-color);
}

.mob-header .container-fluid {
  align-items: center;
}

.header-icon-list {
  display: flex;
  height: 100%;
}

.header-icon-list li {
  padding: 0 var(--small-spacing);
  height: 100%;
  border: 1px solid var(--main-border-color);
  display: flex;
  align-items: center;
}

.main-body {
  flex-grow: 2;
  border: 1px solid var(--main-border-color);
  overflow-y: auto;
}
.list-link li {
  position: relative;
}

.list-link li:not(:last-child)::after {
  content: "/";
  left: calc(100% - 5px);
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
}

.list-link a {
  display: inline-block;
  padding: var(--half-spacing) var(--small-spacing);
}

body h1 {
  font-size: var(--main-title-h1);
  margin: var(--double-spacing) 0;
}

body h2 {
  margin: var(--double-spacing) 0;
  font-size: var(--main-title-h2);
}

.item-list li:not(:last-child) {
  margin-right: var(--small-spacing);
}

.filter-box {
  display: flex;
  flex-wrap: wrap;
  margin: var(--double-spacing) 0;
  gap: var(--double-spacing);
}

.filter-box > div {
  gap: var(--double-spacing);
}

.filter-box .d-flex,
.filter-box .btn-box {
  width: 100%;
}

.filter-box input {
  margin: 0;
  padding: var(--small-spacing);
  height: 40px;
}

.btn-list {
  display: flex;
}

.btn-el {
  margin: 0;
  width: auto;
  padding: var(--extra-small-spacing) var(--small-spacing);
}

button.outline {
  color: var(--primary);
}

.btn-box .btn-list:nth-child(2) {
  margin-right: auto;
}

.btn-list button:not(:last-child) {
  margin-right: var(--small-spacing);
}

.btn-box {
  display: flex;
  justify-content: flex-end;
}

.filter-box input.search {
  border-radius: var(--main-border-radius);
}

.gallery {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: var(--half-spacing);
  padding: var(--half-spacing);
}

.card,
kanban-colum {
  padding: var(--small-spacing);
  border-radius: var(--main-border-radius);
  border: 1px solid var(--main-border-color);
}

.footer {
  height: var(--main-footer-height);
}

.footer-btn {
  display: none;
}

.footer-info.center,
.footer-info {
  display: flex;
  justify-content: center;
  padding: 0;
}

.footer-list {
  display: flex;
}

.nav-page {
  display: none;
}

.footer-list {
  display: flex;
  align-items: center;
}

.footer-list svg {
  margin-right: var(--small-spacing);
}

.footer-list a {
  color: var(--primary);
}

nav[aria-label="breadcrumb"] ul li:not(:last-child) ::after {
  color: inherit;
}

.kanban {
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  height: 100%;
  overflow-x: auto;
  gap: var(--half-spacing);
  padding: var(--half-spacing);
}

kanban-colum {
  display: grid;
  grid-template-rows: 40px calc(100% - 80px) 40px;
  max-height: 100%;
  overflow: hidden;
}

kanban-body {
  padding: var(--half-spacing);
  border: 1px solid var(--main-border-color);
  overflow-y: auto;
  display: block;
}

kanban-content {
  display: block;
  padding: var(--small-spacing);
  border: 1px solid var(--main-border-color);
  background: #fff;
}

kanban-content:not(:last-child) {
  margin-bottom: var(--small-spacing);
}

kanban-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

kanban-footer nav {
  margin-right: var(--small-spacing);
}

kanban-header h2 {
  font-size: var(--main-title-h2);
  margin-bottom: var(--double-spacing);
}

.main-body {
  position: relative;
}

.fixed-cell {
  border: var(--border-width) solid var(--table-border-color);
  position: sticky;
  top: 0;
  right: 0;
  max-width: 60px;
  min-width: 60px;
  width: 60px;
  z-index: 100;
  border: 1px solid #fff;
  background: #fff;
}

td,
th {
  font-size: var(--main-font-size);
  border: var(--border-width) solid var(--table-border-color);
}

section {
  margin-bottom: var(--half-spacing);
}

section h2 {
  text-align: center;
}

.table-box button {
  width: auto;
  padding: var(--extra-small-spacing) var(--small-spacing);
  margin: 0;
}

.cell-setting {
  width: fit-content;
  position: sticky;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  z-index: 101;
  display: flex;
  align-items: center;
  white-space: nowrap;
  padding: var(--small-spacing);
  background: #fff;
}

.cell-setting button {
  padding: var(--extra-small-spacing) var(--small-spacing);
  display: block;
  margin: 0;
}

.cell-setting.pos-abs {
  position: absolute;
}

.cell-setting.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.num-sel {
  display: inline-block;
  padding: 0 var(--extra-small-spacing);
}

.grip {
  width: 20px;
  height: 20px;
  margin-top: 10px;
  margin-left: -5px;
}
.table-box .JColResizer > tbody > tr > td,
.table-box .JColResizer > tbody > tr > th {
  padding-left: var(--spacing) !important;
  padding-right: var(--spacing) !important;
}

.checkbox-cell {
  width: 60px;
  max-width: 60px;
  min-width: 60px;
}

right-sidebar,
left-sidebar {
  width: 300px;
  z-index: 200;
  position: relative;
  display: grid;
  grid-template-rows: auto var(--sidebar-footer-height);
  top: 0;
  background: #fff;
  height: 100vh;
  max-height: 100vh;
  border: 1px solid var(--main-border-color);
  transition: left 1s ease, right 1s ease, margin-left 1s ease,
    margin-right 1s ease;
}

left-sidebar {
  margin-left: -270px;
}
right-sidebar {
  margin-right: -270px;
  right: 0;
}

left-sidebar.show {
  margin-left: 0;
}

right-sidebar.show {
  margin-right: 0;
}

left-sidebar.hover-over {
  margin-left: -1px;
  left: 0;
}

right-sidebar.hover-over {
  margin-right: 0;
}

left-sidebar aside {
  padding: var(--half-spacing);
}

.hide-element {
  display: none;
}

aside nav li:not(:last-child) {
  margin: 0;
}
aside li a {
  display: flex;
  justify-content: space-between;
  color: var(--color);
}

.resize-sidebar,
.toggle-sidebar {
  position: absolute;
  height: 30px;
  width: 30px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  top: 50px;
  z-index: 100;
  border: 1px solid var(--main-border-color);
  cursor: pointer;
}

.resize-sidebar {
  top: calc(100% - 100px);
}

.toggle-sidebar svg {
  position: relative;
}

left-sidebar .resize-sidebar,
left-sidebar .toggle-sidebar {
  right: -15px;
}

right-sidebar .resize-sidebar,
right-sidebar .toggle-sidebar {
  left: -15px;
}

right-sidebar main,
left-sidebar main {
  display: grid;
  gap: var(--half-spacing);
  overflow-y: auto;
  padding: var(--half-spacing);
}

.sidebar-content {
  display: grid;
  grid-template-rows: calc(100vh - 52px) 50px;
}

right-sidebar footer,
left-sidebar footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--small-half-spacing);
  height: var(--sidebar-footer-height);
  border-top: 1px solid var(--main-border-color);
}

.nested-menu {
  padding-left: var(--double-spacing);
  max-height: 200px;
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: height 0.5s;
}

.nested-menu.show {
  opacity: 1;
  height: auto;
}

.table-management {
  position: fixed;
  z-index: 200;
  left: 0;
  top: 0;
  border: var(--border-width) solid var(--dropdown-border-color);
  border-radius: var(--border-radius);
  background-color: var(--dropdown-background-color);
  color: var(--dropdown-color);
  white-space: nowrap;
  display: none;
}

.table-management li {
  width: 100%;
  margin-bottom: 0;
  padding: calc(var(--form-element-spacing-vertical) * 0.5)
    var(--form-element-spacing-horizontal);
  list-style: none;
}

.table-management li a {
  display: block;
  margin: calc(var(--form-element-spacing-vertical) * -0.5)
    calc(var(--form-element-spacing-horizontal) * -1);
  padding: calc(var(--form-element-spacing-vertical) * 0.5)
    var(--form-element-spacing-horizontal);
  overflow: hidden;
  color: var(--dropdown-color);
  text-decoration: none;
  text-overflow: ellipsis;
}

.table-management li a:hover {
  background-color: var(--dropdown-hover-background-color);
}

search-block {
  z-index: 300;
  width: 400px;
  height: 100vh;
  background: #fff;
  border: var(--border-width) solid var(--dropdown-border-color);
  padding: var(--half-spacing);
  position: fixed;
  top: 0;
  right: -100%;
  display: grid;
  grid-template-rows: auto auto minmax(200px 60%) auto;
  transition: right 1s ease;
}

search-block.show {
  right: 0;
}

search-block,
search-block p,
search-block details,
search-block label {
  font-size: var(--main-font-size);
}

box-filter,
space-between {
  margin-bottom: var(--half-spacing);
}

space-between {
  display: flex;
  justify-content: space-between;
}

.app search-block details[role="list"] summary + ul {
  width: 100%;
}

search-block button {
  width: auto;
  margin: 0;
}

search-block a {
  color: var(--primary);
}

box-filter {
  display: flex;
  flex-direction: column;
  border: var(--border-width) solid var(--dropdown-border-color);
  gap: var(--half-spacing);
  overflow-y: auto;
  min-height: 150px;
}

.collapse-btn {
  width: 100%;
  margin: 0;
}

row-title {
  display: flex;
  justify-content: center;
  position: relative;
}

row-title .icon {
  gap: var(--half-spacing);
  display: flex;
  color: var(--primary);
  position: absolute;
  right: 0;
  top: 50%;
  transform: rotateY(-50%);
}

box-article,
row-select,
row-link {
  display: flex;
  flex-wrap: wrap;
  gap: var(--small-spacing);
}

row-link button {
  width: auto;
  margin: 0;
  padding: var(--small-spacing) var(--half-spacing);
}

box-article {
  justify-content: center;
  margin: var(--half-spacing) 0;
}

row-select select {
  padding: var(--small-spacing) var(--half-spacing);
  margin: 0;
}

row-select label {
  width: 100%;
}

box-article article {
  margin: 0;
  padding: var(--half-spacing);
  box-shadow: none;
  border: var(--border-width) solid var(--main-border-color);
}

box-article h3 {
  font-size: var(--main-title-h3);
  margin: 0 0 var(--half-spacing) 0;
}

box-article p {
  font-size: var(--main-font-size);
}

.col-1,
.col-2 {
  flex-basis: 100%;
}

.main-head-top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.main-head-tip,
.main-head-buttons {
  width: 100%;
}

.main-head-info {
  margin-bottom: var(--double-spacing);
}

.main-head-info p {
  font-size: var(--main-font-size);
}

.main-head-buttons {
  white-space: nowrap;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: var(--half-spacing);
  margin: var(--half-spacing) 0;
}

.main-head-buttons .icon-menu {
  margin-right: auto;
}

@media (min-width: 576px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 768px) {
  .mob-header {
    display: none;
  }
  .app {
    grid-template-rows: 80px calc(100% - 200px) 120px;
  }
  .filter-box {
    flex-wrap: nowrap;
  }
  .filter-box .d-flex {
    width: 45%;
  }

  .filter-box .btn-box {
    width: 55%;
  }
  .btn-box .btn-list:nth-child(2) {
    margin-right: 0;
  }
  .gallery {
    grid-template-columns: repeat(4, 1fr);
  }
  .nav-page {
    display: flex;
    margin-right: 15px;
  }
  .footer {
    padding-top: var(--half-spacing);
  }
  .footer-btn {
    display: block;
  }
  .footer-info {
    justify-content: space-between;
  }
  .icon-menu {
    display: none;
  }
  .col-1 {
    flex-basis: calc(33.333% - var(--small-spacing));
  }

  .col-2 {
    flex-basis: calc(66.666% - var(--small-spacing));
  }
  row-select label {
    width: 300px;
  }

  .main-head-tip,
  .main-head-buttons {
    width: 50%;
  }
}
@media (min-width: 1200px) {
}
