* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  font-family: var(--font-family);
  font-size: var(--main-font-size);
  color: var(--main-font-color);
  font-weight: 400;
}

a {
  color: var(--main-font-color);
  font-size: var(--main-font-size);
}

button {
  font: inherit;
  border-radius: var(--main-border-radius);
  color: var(--second-font-color);
}

.d-flex {
  display: flex;
}

ul {
  padding: 0;
}

ul li {
  list-style: none;
  font-size: var(--main-font-size);
}

body div,
body ul,
body ul li,
body p,
body header,
body main,
body footer {
  padding: 0;
  margin: 0;
}

.app {
  height: 100%;
  max-height: 100vh;
  display: grid;
  grid-template-rows: 47px 50px calc(100% - 150px) auto;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mob-header,
.header {
  border-bottom: 1px solid var(--main-border-color);
}

.mob-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-icon-list {
  display: flex;
}

.header-icon-list li {
  padding: 8px;
}

.header-icon-list li {
  border: 1px solid var(--main-border-color);
}

.main {
  flex-grow: 2;
}

.main-body {
  flex-grow: 2;
  border: 1px solid var(--main-border-color);
  overflow-y: auto;
}
.list-link li {
  position: relative;
}

.list-link li:not(:last-child)::after {
  content: "/";
  left: calc(100% - 5px);
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
}

.list-link a {
  display: inline-block;
  padding: 15px 10px;
}

body h1 {
  font-size: var(--main-title-h1);
  margin: 20px 0;
}

.item-list li:not(:last-child) {
  margin-right: 10px;
}

.filter-box {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
  gap: 20px;
}

.filter-box > div {
  gap: 20px;
}

.filter-box .d-flex,
.filter-box .btn-box {
  width: 100%;
}

.filter-box input {
  margin: 0;
  padding: 5px 10px;
  height: 40px;
}

.btn-list {
  display: flex;
}

.btn-el {
  margin: 0;
  width: auto;
  padding: 4px 15px;
}

button.outline {
  color: var(--primary);
}

.btn-box .btn-list:nth-child(2) {
  margin-right: auto;
}

.btn-list button:not(:last-child) {
  margin-right: 5px;
}

.btn-box {
  display: flex;
  justify-content: flex-end;
}

.filter-box input.search {
  border-radius: var(--main-border-radius);
}

.gallery {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 15px;
  padding: 15px;
}

.card {
  padding: 10px;
  border-radius: var(--main-border-radius);
  border: 1px solid var(--main-border-color);
}

.footer-btn {
  display: none;
}

.footer-info {
  display: flex;
  justify-content: center;
  padding: 12px 0;
}

.footer-list {
  display: flex;
}

.nav-page {
  display: none;
}

.footer-list li + li {
  margin-left: 10px;
}

.footer-list li {
  position: relative;
}

.footer-list a {
  color: var(--primary);
}

.footer-list li:not(:last-child):after {
  position: absolute;
  content: "|";
  color: inherit;
  top: 0;
  left: calc(100% + 4px);
}

@media (min-width: 576px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 768px) {
  .mob-header {
    display: none;
  }
  .app {
    grid-template-rows: 50px calc(100% - 150px) 100px;
  }
  .filter-box {
    flex-wrap: nowrap;
  }
  .filter-box .d-flex {
    width: 45%;
  }

  .filter-box .btn-box {
    width: 55%;
  }
  .btn-box .btn-list:nth-child(2) {
    margin-right: 0;
  }
  .gallery {
    grid-template-columns: repeat(4, 1fr);
  }
  .nav-page {
    display: flex;
  }
  .footer {
    padding: 20px 0;
  }
  .footer-btn {
    display: block;
  }
  .footer-info {
    justify-content: space-between;
  }
}
@media (min-width: 1200px) {
}
