:root {
  --main-font-size: 14px;
  --main-font-color: #000;
  --second-font-color: #fff;
  --font-family: "Roboto", sans-serif;
  --main-border-radius: 3px;
  --main-border-color: #ccc;
  --main-title-h1: 20px;
  --main-title-h2: 18px;
  --main-title-h3: 16px;
  --double-spacing: 20px;
  --half-spacing: 15px;
  --small-spacing: 10px;
  --extra-small-spacing: 5px;
  --sidebar-footer-height: 50px;
  --mob-header-height: 50px;
  --header-height: 80px;
  --main-footer-height: 60px;
}
